<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--引入资源文件-->
   <!-- <properties resource="resource.properties"/>-->
    <settings>
        <!--日志打印-->
        <setting name="logImpl" value="LOG4J2" />
    </settings>
    <!--配置数据库环境
    <environments default="mysql">
        <environment id="mysql">
            &lt;!&ndash;事务类型&ndash;&gt;
            <transactionManager type="JDBC"/>
            &lt;!&ndash;数据库连接池&ndash;&gt;
            <dataSource type="POOLED">
                <property name="username" value="${username}"/>
                <property name="url" value="${url}"/>
                <property name="password" value="${password}"/>
                <property name="driver" value="${driverClassName}"/>
            </dataSource>
        </environment>
    </environments>
    &lt;!&ndash;映射器&ndash;&gt;
    <mappers>
        &lt;!&ndash;<com.king.mapper resource="com.king.mapper/UserMapper.xml"/>
        <com.king.mapper class="RoleMapper"/>&ndash;&gt;
        <package name="com.king.mapper"/>
    </mappers>-->
</configuration>